@font-face {
	font-family: "europa";
	src: url("./assets/fonts/europa-bold.ttf");
	/* font-weight: normal; */
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "europa-regular";
	src: url("./assets/fonts/europa-regular.ttf");
	/* font-weight: normal; */
	font-style: normal;
	font-display: swap;
}

.zero {
	margin: 0;
}

.desc {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	transition: 0.2s;
}

.semi {
	font-family: 'europa', 'sans-serif';
}

* {
	margin: 0;
	padding: 0;
}

.logo {
	position: fixed;
	width: 2em;
	bottom: 2em;
	left: 2em;
}

@media (max-width: 750px) {
	.logo {
		/* position: absolute; */
		top: 2.5em;
		right: 0;
		/* z-index: -1; */
	}
}

.layout {
	font-family: "europa-regular", 'sans-serif';
	color: #222;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
	background-color: #F5F5F5;
	/* border-radius: 10px; */
}

::-webkit-scrollbar {
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

::-moz-selection {
	color: #12477c;
	background: rgba(80, 142, 235, 0.281);
}

::selection {
	color: #2167ac;
	background: rgba(80, 142, 235, 0.281);
}

/* ::-moz-selection {
	color: #222;
	background: rgba(152, 190, 240, 0.651);
}

::selection {
	color: #222;
	background: rgba(152, 190, 240, 0.651);
} */

input:not([type="checkbox"]), textarea, select, option {
	min-width: 100%;
	max-width: 100%;
	font-family: 'europa-regular', 'sans-serif';
}

button {
	font-family: 'europa', 'sans-serif';
	/* letter-spacing: 0.1em;
	text-transform: uppercase; */
	/* font-weight: 600; */
	/* font-size: 0.75em; */
	/* padding: 0.5em 1.3em;
	border-radius: 0.5em;
	color: #222;
	border: solid 1px rgb(83, 83, 83);
	background-color: rgb(236, 236, 236); */
	/* -webkit-box-shadow: 0px 8px 20px 7px rgba(56, 123, 217, 0.6);
	-moz-box-shadow: 0px 8px 20px 7px rgba(56, 123, 217, 0.6);
	box-shadow: 0px 8px 20px 7px rgba(56, 123, 217, 0.6); */
	box-shadow: 0px 8px 32px rgba(56, 123, 217, 0.6);
	background-color: #4f85e4 !important;
	color: #fff;
	border: none;
	transform: translateY(-4px);
	transition: 0.5s;
	/* box-shadow: 30px 30px 59px #cccccc, -30px -30px 59px #ffffff; */
}

button:hover {
	/* background: #69e; */
	/* background-color: #69e;
	border: solid 1px rgb(48, 92, 173);
	color: #fff; */
	background-color: rgb(39, 90, 177) !important;
	transform: translateY(0px);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

button:disabled {
	background-color: rgb(39, 90, 177) !important;
	transform: translateY(0px);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.noselect, br, button, select, img, input, textarea, .footer {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label {
	/* font-weight: 500; */
	font-size: 0.9em;
	font-family: 'europa', 'sans-serif';
}