@font-face {
	font-family: "europa";
	src: url("./assets/fonts/europa-bold.ttf");
	/* font-weight: normal; */
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "europa-regular";
	src: url("./assets/fonts/europa-regular.ttf");
	/* font-weight: normal; */
	font-style: normal;
	font-display: swap;
}

.zero {
	margin: 0;
}

.desc {
	font-size: 1.2em;
}

a {
	text-decoration: none;
	transition: 0.2s;
}

.semi {
	font-family: 'europa', 'sans-serif';
}

* {
	margin: 0;
	padding: 0;
}

.logo {
	position: fixed;
	width: 2em;
	bottom: 2em;
	left: 2em;
}

@media (max-width: 750px) {
	.logo {
		top: 2.5em;
		right: 0;
	}
}

.layout {
	font-family: "europa-regular", 'sans-serif';
	color: #222;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

::-moz-selection {
	color: #12477c;
	background: rgba(80, 142, 235, 0.281);
}

::selection {
	color: #2167ac;
	background: rgba(80, 142, 235, 0.281);
}

input:not([type="checkbox"]), textarea, select, option {
	min-width: 100%;
	max-width: 100%;
	font-family: 'europa-regular', 'sans-serif';
}

/* Normal Button */

button {
	font-family: 'europa', 'sans-serif';
	/* background-color: rgba(102, 152, 238, 0.178) !important; */
	/* color: #2167ac !important; */
	/* background-color:#69e; */
	color: #fff !important;
	border: none;
	transition: 0.5s;
	transform: translateY(0px);
	background-color: rgb(36, 82, 163);
}

button:hover {
	transform: translateY(-4px);
	/* -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; */
	box-shadow: 0px 8px 32px rgba(56, 123, 217, 0.6);
	background-color: #69e !important;
}

/* Ghost Button */

button.ghost {
	font-family: 'europa', 'sans-serif';
	background-color: transparent !important;
	color: #222 !important;
	border: solid 1px rgba(102, 152, 238, 0.3) !important;
	transition: 0.3s;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	transform: translateY(0px);
}

button.ghost:hover {
	background-color: rgba(102, 152, 238, 0.3) !important;
	border: solid 1px rgba(102, 152, 238, 0) !important;
	color: #2167ac !important;
}

button:disabled {
	background-color: rgb(39, 90, 177) !important;
	transform: translateY(0px);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.noselect, br, button, select, img, input, textarea, .footer {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label {
	font-size: 0.9em;
	font-family: 'europa', 'sans-serif';
}